<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UIDesignHIS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>welcome</display-name>
    <servlet-name>welcome</servlet-name>
    <servlet-class>com.his.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.his.servlet.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPolicyServlet</display-name>
    <servlet-name>ViewPolicyServlet</servlet-name>
    <servlet-class>com.his.servlet.ViewPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPolicyServlet</servlet-name>
    <url-pattern>/ViewPolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPolicyServlet</display-name>
    <servlet-name>EditPolicyServlet</servlet-name>
    <servlet-class>com.his.servlet.EditPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPolicyServlet</servlet-name>
    <url-pattern>/EditPolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPolicyQuery</display-name>
    <servlet-name>EditPolicyQuery</servlet-name>
    <servlet-class>com.his.DAO.EditPolicyQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPolicyQuery</servlet-name>
    <url-pattern>/EditPolicyQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewPolicyServlet</display-name>
    <servlet-name>AdminViewPolicyServlet</servlet-name>
    <servlet-class>com.his.servlet.AdminViewPolicyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewPolicyServlet</servlet-name>
    <url-pattern>/AdminViewPolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestClaimServlet</display-name>
    <servlet-name>RequestClaimServlet</servlet-name>
    <servlet-class>com.his.servlet.RequestClaimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestClaimServlet</servlet-name>
    <url-pattern>/RequestClaimServlet</url-pattern>
  </servlet-mapping>
</web-app>